<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisijungimas</title>
    <link rel="stylesheet" href="public/main.css">
    <script
			src="/public/index.js"
			defer
		></script>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <div class="box">
        <%- include('./components/errorMessage.ejs') %>
        <div class="register"> 
            <form
				action="/api/user/login"
				method="post"
			>   
            <h2>Login!</h2>
            <div class="inputAll">
                <div>
                    <label>
                        <span class="space">Username</span>
                        <input
                            type="text"
                            name="loginName"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Password</span>
                        <input
                            type="password"
                            name="password"
                        />
                    </label>
                </div>
                <div>
					<a
						href="/register"
						class="standart-link"
						>Still don't have an account?</a
					>
				</div>
                <button class="register-button">Login</button>
            </div>
        </form>
        </div>
</div>
</body>
</html>