<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisijungimas</title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <%- include('./components/nav-bar') %>
    <div class="box">
        <div class="register">    
            <h2>Login!</h2>
            <div class="inputAll">
                <div>
                    <label>
                        <span class="space">Username</span>
                        <input
                            type="text"
                            id="username"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Password</span>
                        <input
                            type="password"
                            id="password"
                        />
                    </label>
                </div>
                <button class="register-button">Login</button>
            </div>
        </div>
</div>
</body>
</html>