<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <%- include('./components/nav-bar') %>
    <div class="box">
        <div class="register">    
            <h2>Registration!</h2>
            <div class="inputAll">
                <div>
                    <label>
                        <span class="space">Username</span>
                        <input
                            type="text"
                            id="username"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Email</span>
                        <input
                            type="email"
                            id="email"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Birth date</span>
                        <input
                            type="date"
                            id="birth-date"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Password</span>
                        <input
                            type="password"
                            id="password"
                        />
                    </label>
                </div>
                <div class="photo">
                        <input
                            type="file"
                            id="profile-photo"
                            accept=".jpeg, .png, .gif, .bmp"
                        />
                </div>
                <button class="register-button">Register</button>
            </div>
        </div>
</div>
<script src="/public/register.js"></script>
</body>
</html>