<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <%- include('./components/header.ejs') %>
    <div class="box">
        <%- include('./components/errorMessage.ejs') %>
        <div class="register"> 
            <form
				action="/api/user/register"
				method="post"
			>   
            <h2>Registration!</h2>
            <div class="inputAll">
                <div>
                    <label>
                        <span class="space">Username</span>
                        <input
                            type="text"
                            id="username"
                            name="username"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Email</span>
                        <input
                            type="email"
                            id="email"
                            name="email"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Birth date</span>
                        <input
                            type="date"
                            id="birth-date"
                            name="birthDate"
                        />
                    </label>
                </div>
                <div>
                    <label>
                        <span class="space">Password</span>
                        <input
                            type="password"
                            id="password"
                            name="password"
                        />
                    </label>
                </div>
                <div class="photo">
                        <input
                            type="file"
                            id="profile-photo"
                            name="img"
                            accept=".jpeg, .png, .gif, .bmp"
                        />
                </div>
                <div>
                    <a
                        href="/login"
                        class="standart-link"
                        >Already have an account?</a
                    >
                </div>
                <button class="register-button">Register</button>
            
            </div>
            </form>
        </div>
</div>
<script src="/public/register.js"></script>
</body>
</html>