#head {text-align: center;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main {justify-content: center;
display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main td {border: 1px solid black;
    vertical-align: top
}
#main {border-collapse: collapse;}

.menuo td {
    text-align: center;
    padding: 5px;
    border: none!important;
   
}

.menuo td:nth-child(1)
{color: red;}