<!-- HEADER -->
<div class="background"></div>
    <nav>
        <div class="container navas">
                <div class="three">
                    <a href="/">Home</a>
					<a
					href="/my-profile"
					class="<%= activeTab === 'Profile' ? 'active-nav-item' : '' %>"
					>My profile</a
				>
                </div>
                <div class="two"> 
                    <a href="/api/user/logout">Log out</a>
                </div>
        </div>
    </nav>

