<div class="background"></div>
    <nav>
        <div class="container navas">
                <div class="three">
                    <a href="/news">Naujienos</a>
                    <a href="/about">Apie mus</a>
                    <a href="/theme">Temos</a>
                </div>
                <div class="two"> 
                    <a href="/register">Registracija</a>
                    <a href="/login">Prisijungimas</a>
                </div>
        </div>
    </nav>
