<tr>
	<td class="col-6">
		<div class="post">
			<img src="/public/1498089-mind-relaxing-wallpapers-2283x1649-for-meizu.jpg" />
			<div class="topic-details">
				<a
					class="topic"
					href=""
					><%= post.title %></a
				>
				<p class="author">Author: <a class="topic" href=""><%= post.author %></a></p>
			</div>
		</div>
	</td>
	<td class="col-1">
		<div class="single-number"><%=post.commentsCount%></div>
	</td>
	<td class="col-1">
		<div class="single-number"><%= post.viewsCount%></div>
	</td>
	<td class="col-4">
		<div class="last-post">
			<div>
				<span>by&nbsp</span>
				<span class="author topic">
					<a
						href=""
						class="author-outline"
						>Linas20</a
					>
				</span>
			</div>
			<div class="date">Tue Mar 21, 2017 08:50</div>
		</div>
	</td>
</tr>